# Build output
dist

#storybook
storybook-static

# Dependency directories
node_modules

# Coverage directory
coverage

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
